body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
}

#container {
  font-family: "Josefin Sans", sans-serif;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}

#content_box {
  margin: 10% 5% 0% 10%;
}

#logo {
  margin: 3em 5em 0 9em;
  position: absolute;
}

h1 {
  font-size: 3.5em;
  letter-spacing: 30px;
}

span {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

#text {
  margin: 10% 0;
  color: hsl(0, 36%, 70%);
  letter-spacing: 1px;
  line-height: 1.5em;
}

form {
  display: flex;
  height: 60px;
}

#email_input {
  width: 500px;
  border-radius: 35px;
  border: 0.5px solid hsl(0, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  padding: 0 30px;
}

button {
  border: none;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 8px 15px hsl(0, 36%, 70%);
}

footer {
  margin-top: 15%;
  color: hsl(0, 0%, 63%);
}

.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.heroDesktop {
  display: block;
}

.heroMobile {
  display: none;
}

@media screen and (min-width: 376px) and (max-width: 1440px) {
  #content {
    width: 80%;
  }

  button {
    width: 120px;
    border-radius: 35px;
    margin-left: -80px;
  }

  .attribution {
    margin-left: 100px;
  }
}

@media screen and (max-width: 375px) {
  #container {
    /* display: flex; */
    flex-direction: column;
  }

  #content_box {
    /* margin: 5% 5% 0% 10%; */
    order: 2;
    justify-content: center;
  }

  #logo {
    margin: 2em 1.5em;
    height: 1.5em;
  }

  .heroDesktop {
    display: none;
  }

  .heroMobile {
    order: 1;
    display: block;
    width: 100%;
    margin-top: 5.5em;
  }

  button {
    width: 150px;
    border-radius: 35px;
    margin-left: -60px;
  }
}
